* {
  margin: 0;
  padding: 0;
}

.chat {
  margin: 1em;
  border: 1px solid rgb(25, 179, 115);
  border-radius: 1%;
  height: 89vh;
  display: flex;
}

.message {
  border: red 1px;
  height: 1vh;
  padding: 1vh;
}


.send {
  height: 5vh;
  display: flex;
  align-self: flex-end;
}