.messageInput {
    padding: 0.2rem;
    /* color: red;  */
    /* font-size: 12px; */
    line-height: 1.2;
    resize: vertical;
    width: 20rem;
    max-height: 5rem;
    /* position: relative;
    bottom: 10px; */
}